@{
    Layout = "_Layout";
}
@* asd *@
<h4>Merhaba</h4>
<p>Toplantı katılım durumunuzu bildiriniz</p>
<a asp-controller="Meeting" Asp-Action="Apply" class="btn bt-sm btn-outline-primary ">Başvuru Yap</a>